In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('/Users/DPalinggi/OneDrive - indikaenergy/PET PROJECTS/Recommender System/ratings.dat', header=None)
df.columns = ['user_id','profile_','ratings']
df

               0       1   2
0              1     133   8
1              1     720   6
2              1     971  10
3              1    1095   7
4              1    1616  10
...          ...     ...  ..
17359341  135359  215145   8
17359342  135359  215718   4
17359343  135359  218646  10
17359344  135359  218857   7
17359345  135359  218988   5

[17359346 rows x 3 columns]

In [24]:
test = pd.DataFrame(columns=df.columns)
train = pd.DataFrame(columns=df.columns)

test_ratio = 0.2 #fraction of data to be used as test set.
for u in users:
    temp = df[df['userId'] == u]
    n = len(temp)
    test_size = int(test_ratio*n)
temp = temp.sort_values('timestamp').reset_index()
temp.drop('index', axis=1, inplace=True)
    
dummy_test = temp.loc[n-1-test_size :]
dummy_train = temp.loc[: n-2-test_size]
    
test = pd.concat([test, dummy_test])
train = pd.concat([train, dummy_train])

In [28]:
test['userId'].unique()

array(['718'], dtype=object)

In [29]:
dummy_test

    userId movieId  rating   timestamp
229    718    2420     5.0  1244917715
230    718    1203     4.5  1244917720
231    718    2085     4.0  1244917725
232    718   55052     4.0  1244917729
233    718   53000     4.5  1244917737
234    718    5254     5.0  1244917752
235    718    2145     3.5  1244917842
236    718     673     3.5  1244917879
237    718    2300     3.5  1244917883
238    718    3263     3.5  1244917891
239    718    2724     3.5  1244917952
240    718    2078     4.0  1244917956
241    718     355     4.0  1244917971
242    718      70     4.5  1244917987
243    718    3275     5.0  1244917995
244    718    2581     4.0  1244918008
245    718    1884     5.0  1244918017
246    718   57640     5.0  1244918066
247    718    5507     5.0  1244918071
248    718    5219     5.0  1244918075
249    718     724     5.0  1244918082
250    718   56152     4.0  1244918099
251    718    1779     3.0  1244918109
252    718    2421     3.5  1244918119
253    718    8807     4.0  1244918122
254    718    1405     4.0  1244918335
255    718   45728     3.0  1244918342
256    718    1717     2.5  1244918350
257    718    2605     5.0  1244918359
258    718    4369     3.0  1244918363
259    718   63859     5.0  1244918365
260    718   62434     5.0  1244918370
261    718   53121     5.0  1244918374
262    718    1027     5.0  1244918376
263    718    2096     4.0  1244918403
264    718    6287     5.0  1244918408
265    718    2335     5.0  1244918413
266    718    7451     5.0  1244918415
267    718    2431     5.0  1244918539
268    718     455     2.5  1244918548
269    718   46972     5.0  1244918574
270    718    2953     2.5  1244918577
271    718    1911     2.5  1244918579
272    718    7445     4.0  1244918587
273    718    3409     3.0  1244918676
274    718    1032     4.0  1244918683
275    718    2541     5.0  1244918687
276    718   44022     5.0  1244918694
277    718    6709     5.0  1244918708
278    718    2116     5.0  1244918739
279    718    3285     5.0  1244918751
280    718    2384     3.5  1244918758
281    718    6936     4.5  1244918776
282    718    8623     3.5  1244918779
283    718     216     5.0  1244918781
284    718   58025     2.5  1244918792
285    718    6157     4.0  1244918813
286    718   59501     4.0  1244918831

In [16]:
df['userId'].map(df.groupby('userId')['timestamp'].apply(len))

0          48
1          48
2          48
3          48
4          48
         ...
100229    287
100230    287
100231    287
100232    287
100233    287
Name: userId, Length: 100234, dtype: int64